<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Arroz a grega</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h2>INGREDIENTES</h2>
  <p>
      1 fio de óleo ou azeite
      1/2 cebola picada
      2 dentes de alho picados
      1 cenoura média picada
      1/2 xícara (chá) pimentão vermelho picado
      1/2 xícara (chá) de pimentão amarelo picado
      1/2 xícara (chá) de uvas passas
      1 latinha de milho verde
      1 latinha de ervilha
      2 xícaras (chá) de arroz
      1/2 colher de sopa de sal
      4 xícaras (chá) de água
      3 colheres (sopa) cheiro verde picado
  </p>

  <h2>MODO DE PREPARO</h2>
  <p>
      Aqueça uma panela em fogo de médio e coloque um fio de óleo ou azeite. Em seguida adicione a cebola picada e mexa até que ela fique transparente.
      Acrescente o alho picado e refogue até dourar. Adicione a cenoura picada, o pimentão vermelho, o pimentão amarelo e as uvas passas.
      Mexa tudo muito bem e dê uma leve refogada.
      Depois adicione o milho verde (sem a água), a ervilha (sem a água) e o arroz.
      Mexa por cerca de 3 minutinhos para dar uma leve refogada.
      Após isso acrescente o sal e a água.
      Tampe a panela e deixe cozinhar por cerca de 20 minutos em fogo médio ou até a água secar completamente.
      Desligue o fogo e finalize adicionando o cheiro verde picado.
      Misture e transfira para uma travessa bem bonita.
      Sirva em seguida.
  </p>
</ion-content>
